@import '../../variables.scss';

.commentHeader {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.image {
  height: 45px;
  width: 45px;
  border-radius: 45px;
  grid-row-start: span 2;

}

.nickName {
  font-weight: bold;
}

.skinType {
  background: $lightGray;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 12px;
  margin-left: 5px;
}

.timeAndViews {
  color: $medGray;
  font-size: 12px;
}