// global styling variables

// colors
$lightGray: #f6f7fa;
$medGray: #999999;
$darkGray: #666666;

// media queries
$tabletUp: 768px;
$desktopUp: 1024px;

// gutters
$gutterSmall: 10px;
$gutterMed: 25px;

// theme
$grayBorder: 1px solid #e5e5e5;